<ul class="nav navbar-nav navbar-right">
<li><%= link_to 'Strona glowna', root_path %></li>
<li><%= link_to 'O aplikacji', home_about_path %></li>
<li><%= link_to 'Kontakt', home_contact_path %></li>
<li><%= link_to 'Konwersja', home_konwersja_path %></li>
<li><%= link_to 'FAQ', home_faq_path %></li>
</ul>

