<p id="notice"><%= notice %></p>

<h1>Konta</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Rachunek</th>
      <th>Konto wn plus</th>
      <th>Konto ma plus</th>
      <th>Konto wn minus</th>
      <th>Konto ma minus</th>
      <th>Manual</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @konta.each do |kontum| %>
      <tr>
        <td><%= kontum.Id %></td>
        <td><%= kontum.Rachunek %></td>
        <td><%= kontum.Konto_wn_plus %></td>
        <td><%= kontum.Konto_ma_plus %></td>
        <td><%= kontum.Konto_wn_minus %></td>
        <td><%= kontum.Konto_ma_minus %></td>
        <td><%= kontum.Manual %></td>
        <td><%= link_to 'Show', kontum %></td>
        <td><%= link_to 'Edit', edit_kontum_path(kontum) %></td>
        <td><%= link_to 'Destroy', kontum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kontum', new_kontum_path %>
