<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @konwersja_kont.Id %>
</p>

<p>
  <strong>Rachunek:</strong>
  <%= @konwersja_kont.Rachunek %>
</p>

<p>
  <strong>Konto wn plus:</strong>
  <%= @konwersja_kont.Konto_wn_plus %>
</p>

<p>
  <strong>Konto ma plus:</strong>
  <%= @konwersja_kont.Konto_ma_plus %>
</p>

<p>
  <strong>Konto wn minus:</strong>
  <%= @konwersja_kont.Konto_wn_minus %>
</p>

<p>
  <strong>Konto ma minus:</strong>
  <%= @konwersja_kont.Konto_ma_minus %>
</p>

<p>
  <strong>Manual:</strong>
  <%= @konwersja_kont.Manual %>
</p>

<%= link_to 'Edit', edit_konwersja_kont_path(@konwersja_kont) %> |
<%= link_to 'Back', konwersja_kont_path %>
